.filter-box {
  margin: 0 auto;
  padding: 1%;
  max-width: 900px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.location-filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
}

.filter-types {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.incident-filters {
  width: 64%;
  margin: 0 auto 2%;
}

.source-filters {
  width: 27%;
  margin: 0 auto 2%;
}

.search-bars {
  display: flex;
  justify-content: center;
}

h5 {
  padding-top: 8px;
  text-align: center;
}

div.ant-select-selector {
  margin-left: 10px;
}

.ant-input-affix-wrapper {
  margin-left: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
