.App {
  padding: 20px;
}

.filter-box {
  border: black solid 1px;
  padding: 1.5%;
  max-width: 1500px;
  margin: 0 auto;
  min-width: 450px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.all-filters {
  display: flex;
  justify-content: space-between;
}

.location-filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
}

.checkbox-filters {
  width: 70%;
}

.incident-filters {
  margin-bottom: 2%;
}
